
@model BankSystem.Models.CreditRequestVM

@{
    ViewBag.Title = "Заявка на кредит";
}

<h2>Заявка на кредит</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Тип кредита</label>
        @Html.DropDownListFor(m => m.RequestModel.CreditTypeId, Model.CreditTypes, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Сумма кредита</label>
        @Html.TextBoxFor(m => m.RequestModel.Amount, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Среднемесячный доход за последние 3 месяца</label>
        @Html.TextBoxFor(m => m.RequestModel.MonthIncome, new {@class = "form-control"})
    </div>
    @Html.ValidationSummary()
    <button class="btn btn-success">Отправить заявку</button>
}