@using GridMvc.Html
@model BLL.Models.CreditModel

@{
    ViewBag.Title = "Кредит";
}

@helper RenderTotal(decimal main, decimal percent)
{
    @((main + percent).ToString("N"))
}

<h2>Кредит</h2>
<div>
    @Html.ActionLink("Личный кабинет", "Personal", "Client")
</div>
<div>
    Название: @Model.CreditType.Name
</div>
<div>
    Валюта: @Model.CreditType.CurrencyShort
</div>
<div>
    Открыт: @Model.FormattedStartDate
</div>
<div>
    Основной долг: @Model.MainDebt.ToString("N")
</div>
<div>
    Долг по процентам: @Model.PercentageDebt.ToString("N")
</div>
<div>
    Общий долг: @((Model.MainDebt + Model.PercentageDebt).ToString("N"))
</div>
@if (Model.MonthlyPayment.HasValue)
{
    if (Model.EndDate < ViewBag.CurrentDate)
    {
        <div>
            Срок кредита вышел. Будут начисляться штрафные проценты.
        </div>
    }
    <div>
        Ежемесячный платеж: @Model.MonthlyPayment.Value.ToString("N")
    </div>
}
<div>
    Действия:
</div>
@Html.Grid(Model.PaymentModels).Columns(columns =>
{
    columns.Add(item => item.FormattedDate)
            .Titled("Дата");

    columns.Add(item => item.TypeName)
        .Titled("Тип");

    columns.Add()
            .Titled("Сумма")
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(item => RenderTotal(item.MainAmount, item.PercentAmount));
})