@model BankSystem.Models.LoginModel

@{
    ViewBag.Title = "Вход";
}

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Вход</legend>
        <div>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <br/>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <br/>
        <div class="form-inline">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new {@class = "checkbox"})
        </div>
        <br/>
        <input class="btn btn-sm btn-default" type="submit" value="Вход"/>
    </fieldset>
    <br/>
    <p>
        @Html.ActionLink("Регистрация", "Register") если у вас нет аккаунта.
    </p>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
