@using BLL.Models.Enums
@using GridMvc.Html
@model BankSystem.Models.ClientInfoModel

@{
    ViewBag.Title = "Заявки клиента";
}

@helper RenderRequestDetailsAction(int requestId)
{
    @Html.ActionLink("Просмотр", "EmployeeDetails", "Request", new { requestId = requestId }, null)
}

@helper RenderRequestType(RequestType type)
{
    switch (type)
    {
        case RequestType.Credit:
            <span>Кредит</span>
            break;
        case RequestType.Deposit:
        <span>Депозит</span>
            break;
    }
}

<h2>Заявки клиента</h2>
<div>
    @Html.ActionLink("Профиль клиента", "ClientDetails", "Employee", new { clientId = Model.UserModel.UserId }, null)
</div>
<div>
    Имя: @Model.UserModel.UserName @Model.UserModel.UserSurname @Model.UserModel.UserLastName
</div>
@Html.Grid(Model.Requests).Columns(columns =>
{
    columns.Add(item => item.FormattedDate)
        .Titled("Дата");
    
    columns.Add(item => item.TypeName)
        .Titled("Название");

    columns.Add()
        .Titled("Тип")
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(item => RenderRequestType(item.Type));

    columns.Add(item => item.StatusString)
        .Titled("Статус");

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(item => RenderRequestDetailsAction(item.Id));
}).EmptyText("Записей не найдено").WithPaging(15)