<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Банк</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/Jquery")
        @Styles.Render("~/JqueryStyles")
        
    </head>
    <body>
        <header>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Банк", "Index", "Home", null, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @if (User.IsInRole("Client"))
                            {
                                <li>@Html.ActionLink("Личный кабинет", "Personal", "Client")</li>
                            }
                            @if (User.IsInRole("Operator"))
                            {
                                <li>@Html.ActionLink("Очередь заявок", "RequestsQue", "Request")</li>
                                <li>@Html.ActionLink("Поиск по клиентам", "FindClient", "Employee")</li>
                            }
                            @if (User.IsInRole("SecurityWorker"))
                            {
                                <li>@Html.ActionLink("Очередь заявок", "ApproveQue", "SecurityWorker")</li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Управление", "Index", "Admin")</li>
                            }
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="container body-content">
                @RenderBody()
                <hr/>
                <footer>
                    <p>Банковская система</p>
                </footer>
            </section>
        </div>
        
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/Scripts.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
